<!--title div-->
<div class="title1 width">
  <strong>
    MMD Points visualizer
  </strong>
</div>

<!--selecting file div-->

<strong class="width">importing files</strong>
<div class="part width">
  <form>
    <input id="zoom-range" type="range" min="0.25" max="100" step="0.25" value="0.25" (change)="zoom()">
    <div id="info_nodes">
    </div>
    <div id="info_edges"></div>
  </form>
</div>


<!--points containner div-->
<strong class="width">points containner</strong>
<div id="graph-container" class="width"></div>

<div class="part width">
  <form>
    <label for="verticesCount-input">Nodes number</label>
    <input type="number" value="10" id="verticesCount-input" class="textInput1" />
    <label for="edgesCount-input">Edges number</label>
    <input type="number" value="10" id="edgesCount-input" class="textInput1" />
    <input type="button" id="createRandomPoints-button" value="random points zoom" (click)="setARandomGraph()"
      class="button1" />
  </form>
</div>
